﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<button id="hit" onclick="show();">Hit me</button>

<div class="container">
    <h3>Popover Example</h3>
    <a href="#" title="Header" data-toggle="popover" data-content="Some content">Click Me</a><br>
    <a href="#" title="Header" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Some content" class="pull-right"><img src="~/Images/Help-Icon.png" class="img-responsive img-circle" height="20" width="20" /></a>
</div>

<div id="myModaal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select</h4>
            </div>
            <div class="modal-body">
               LuckyMe

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" onclick="hide();">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="myModal" class="modal fade pull-left" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select</h4>
                <a href="#" class="popover" title="popover title" data-content="Popover body content is set in this attribute."><img src="~/Images/Help-Icon.png" class="img-responsive img-circle pull-right" /> </a>
            </div>
            <div class="modal-body">
                <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="modalGameId" />
<script>
   
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});

    function show()
    {
        debugger;
        
        $("#myModal").modal({ show: true });
    }
    function hide()
    {
        debugger;
        var obj = $('#modalGameId').val();
        $("#myModaal").modal('hide');
    }
        function go() {
            debugger;
            $("#myModaal").modal({ show: true });
            alert("Hit");
            $.ajax({
                cache: false,
                type: 'post',
                datatype: 'json',
                url: '/Home/FootHole',
                data: { "Hit": "Me" },
                success: function (data) {
                    debugger;
                    var obj = data;
                    var bbj = obj;
                }
            });
        }
</script>